    
    <footer>
        <div class="footer">
            <div class="container">
                <div class="content__footer">
                    <div class="footer__logo">
                        <a class="link__to__the__main__menu" href="#">
                            <div class="logo__width">
                                <strong class="strong">DATKA TRAVEL</strong>
                            </div>
                        </a>
                        <div class="the__emergence__of__our__company">© Datka Travel since 2016 <br> All Rights Reserved.</div>
                    </div>
                    <div class="contener__links">
                        <div class="link__ul">
                            <ul>
                                <li class="link"><a href="#">Home page</a></li>
                                <li class="link"><a href="#">How to buy</a></li>
                                <li class="link"><a href="#">Reviews</a></li>
                                <li class="link"><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                        <div class="link__ul">
                            <ul>
                                <li class="link"><a href="#">Tours near Bishkek</a></li>
                                <li class="link"><a href="#">Cultural tours</a></li>
                                <li class="link"><a href="#">Horseback riding</a></li>
                                <li class="link"><a href="#">Tours to Issyk-Kul lake</a></li>
                            </ul>
                        </div>
                        <div class="link__ul">
                            <ul>
                                <li class="link"><a href="#">Kyrgyzstan, Bishkek</a></li>
                                <li class="link"><a href="#">+996 556 078880</a></li>
                                <li class="link"><a href="#">datkatravel@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="svg__social__networks">
                        <a href="#"><img src="img/svg/1.svg" alt=""></a>
                        <a href="#"><img src="img/svg/2.svg" alt=""></a>
                        <a href="#"><img src="img/svg/3.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>