<head>
    <base href="http://127.0.0.1:5500/">
</head>
<header>
    <div class="static">
        <div class="absolit">
            <div class="maincontainer">
                <div class="header__content">
                    <!-- Логотип с семантическим тегом h1 для главной страницы -->
                    <div class="space__between">
                        <h1><a href="#" aria-label="Home - Datka Travel"><strong class="logo">Datka Travel</strong></a></h1>
                        
                        <!-- Контакты с добавлением метаинформации -->
                        <div class="Contact__us">
                            <div class="Social__networks">
                                <a href="https://facebook.com/DatkaTravel" aria-label="Facebook" target="_blank" rel="noopener">
                                    <img class="header__svg" src="img/svg/4.svg" alt="Facebook Logo">
                                </a>
                                <a href="https://instagram.com/DatkaTravel" aria-label="Instagram" target="_blank" rel="noopener">
                                    <img class="header__svg" src="img/svg/6.svg" alt="Instagram Logo">
                                </a>
                                <a href="https://twitter.com/DatkaTravel" aria-label="Twitter" target="_blank" rel="noopener">
                                    <img class="header__svg" src="img/svg/7.svg" alt="Twitter Logo">
                                </a>
                                <a href="https://linkedin.com/company/DatkaTravel" aria-label="LinkedIn" target="_blank" rel="noopener">
                                    <img class="header__svg" src="img/png/29.png" alt="LinkedIn Logo">
                                </a>
                            </div>
                            <address class="Number">
                                <a href="tel:+996556078880">+996 556 078880</a><br>
                                <a href="mailto:datkatravel@gmail.com">datkatravel@gmail.com</a>
                            </address>
                        </div>
                    </div>
                    
                    <!-- Мобильное меню -->
                    <nav class="Mobile__menu__contener">
                        <div class="Mobile__menu" aria-label="Mobile Menu Toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </nav>
                    
                    <!-- Раздел навигации -->
                    <hr class="header__hr">
                    
                    <nav class="menu__list" aria-label="Main Navigation">
                        <ul class="menu">
                            <li class="list"><a href="#sec1" class="list__a">About Us</a></li>
                            <li class="list"><a href="#sec2" class="list__a">Our Tours</a></li>
                            <li class="list"><a href="#sec3" class="list__a">How to Buy</a></li>
                            <li class="list"><a href="#sec4" class="list__a">Why Book With Us</a></li>
                            <li class="list"><a href="#sec5" class="list__a">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            
            <!-- Модальное окно навигации -->
            <div class="modal__content">
                <div class="modal">
                    <div class="modal__window">
                        <div class="modal__menu">
                            <strong class="modal__logo">Datka Travel</strong>
                        </div>
                        <ul class="modal__menu__list" aria-label="Modal Navigation">
                            <li class="modal__list"><a href="#sec1">About Us</a></li>
                            <li class="modal__list"><a href="#sec2">Our Tours</a></li>
                            <li class="modal__list"><a href="#sec3">How to Buy</a></li>
                            <li class="modal__list"><a href="#sec4">Why Book With Us</a></li>
                            <li class="modal__list"><a href="#sec5">Contacts</a></li>
                        </ul>
                        <div class="modal__Social__networks">
                            <a href="https://facebook.com/DatkaTravel" aria-label="Facebook" target="_blank" rel="noopener">
                                <img class="header__svg" src="img/svg/4.svg" alt="Facebook Logo">
                            </a>
                            <a href="https://instagram.com/DatkaTravel" aria-label="Instagram" target="_blank" rel="noopener">
                                <img class="header__svg" src="img/svg/6.svg" alt="Instagram Logo">
                            </a>
                            <a href="https://twitter.com/DatkaTravel" aria-label="Twitter" target="_blank" rel="noopener">
                                <img class="header__svg" src="img/svg/7.svg" alt="Twitter Logo">
                            </a>
                            <a href="https://linkedin.com/company/DatkaTravel" aria-label="LinkedIn" target="_blank" rel="noopener">
                                <img class="header__svg" src="img/png/29.png" alt="LinkedIn Logo">
                            </a>
                        </div>
                        <address class="modal__Contact__us">
                            <a href="tel:+996556078880">+996 556 078880</a><br>
                            <a href="mailto:datkatravel@gmail.com">datkatravel@gmail.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

